body
{
    padding: 1em;
    background: #999;
}
#content
{
    margin: 0;
    margin-top: 5px;
    padding: 1em;
    min-height: 15em;
    border: 1px solid #5F2F2C;
    background-color: white;
}
ul.tab-navigation
{
    margin-left: 0;
    padding-left: 0;
    display: inline;
}
ul.tab-navigation li
{
    margin-left: 0;
    margin-right: -10px;
    padding: 2px 15px 5px;
    border: 1px solid #5F2F2C;
    border-bottom: 1px solid #5F2F2C;
    background: white;
    list-style: none;
    display: inline;
    border-top-left-radius:          15px;
    -webkit-border-top-left-radius:  15px;
    -moz-border-radius-topleft:      15px;
    border-top-right-radius:         15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topright:     15px;
}
ul.tab-navigation li.selected
{
    background: #5F2F2C;
    color: white;
    position: relative;
    z-index: 10;
}
ul.tab-navigation li.selected a
{
    color: white;
}

#content > .curuser
{
    margin-top: -1em;
    margin-right: -1em;
    float: right;
    background: #5F2F2C;
    color: white;
    border: 1px solid black;

    text-align: right;
    line-height: 100%;
}
#content > .curuser p
{
    margin: 0.2em;
}
#content > .curuser a
{
    color: white;
}
