tr.sect-head td, tr.sect-head th
{
    padding-top: 1em;
    text-decoration: underline;
}
table.pretty-table
{
    border-collapse: collapse;
}
table.pretty-table th, table.pretty-table td
{
    border: 1px solid black;
    padding: 2px;
}
table.pretty-table th
{
    background: #5F2F2C;
    color: white;
    font-weight: normal;
}
table.pretty-table th a
{
    color: #ffcc99;
}

ul.errorlist
{
    color: red;
}

div.messagebox
{
    padding: 0 10px 10px 10px;
    margin: 2em 0;
    border: 1px solid;
    width: 50%;
}
div.messagebox > h3
{
    margin: 0 -10px;
    padding: 2px 10px;
    margin-bottom: 1em;
}

div.infobox
{
    background-color: #afa;
    border-color: #0f0;
}

div.infobox h3 {
    background: #6f6;
}

div.warnbox
{
    background-color: #ffdf60;
    border-color: #ffbf00;
}

div.warnbox h3 {
    background: #faba00;
}

div.errorbox
{
    background-color: #faa;
    border-color: red;
}

div.errorbox h3 {
    background: #f88;
}

span.username
{
    font-family: "Courier", monospace;
}

/* Reset some stuff */
h1, h2, h3, th
{
    font-family: "Trebuchet MS", sans-serif;
}
ul
{
    padding-left: 1em;
    margin-left: 0;
}

form .required label:before
{
    content: "*";
    color: red;
}

td.confirmed-unconfirmed { background-color: yellow; }
td.confirmed-confirmed   { background-color: green; }
td.confirmed-overridden  { background-color: green; }
td.confirmed-rejected    { background-color: red; }
td.validated-unvalidated { background-color: yellow; }
td.validated-autovalidated   { background-color: green; }
td.validated-hand-validated  { background-color: green; }
td.validated-rejected    { background-color: red; }
