{% extends "base.html" %}

{% block title %}Register a dinner: {{program}}{% endblock %}
{% block content %}

<h2>Register a dinner: {{program}}</h2>

{% if form %}
<p>If are unable to register your dinner (for example, because we do not show that a given professor or student are actually a professor or student), please contact {{program.contact_addr}}. Tell us the names of the professor and/or students, and we'll look into fixing it for you.</p>

<p>If you know a professor's email address but not their Athena username (e.g., professors who use math.mit.edu addresses), you can <a href='{% url search %}'>find their username</a>.</p>

<p>Please enter the attendees' Athena usernames below{% if program.allow_alum %} (alum.mit.edu username for alumni){%endif%}:</p>

<form method="post" action="">
<table class='pretty-table'>
<tr class='sect-head'>
{{ form.as_table }}
<tr><th colspan='2'><input type='submit' value='Register' /></th></tr>
</table>
</form>
{% else %}
<p>Congratulations, you successfully registered for a dinner:</p>
<table class='pretty-table'>
<tr><th>Program</th><td>{{dinner.program}}</td></tr>
{% if dinner.prof %}
<tr><th>Professor</th><td>{{dinner.prof}}</td></tr>
{% endif %}
{% if dinner.alum %}
<tr><th>Alumnus</th><td>{{dinner.alum}}</td></tr>
{% endif %}
<tr><th>Participants</th><td><ul>
    {% for part in dinner.get_students %}
    <li>{{part}}</li>
    {% endfor %}
</ul></td></tr>
</table>
{% endif %}

{% endblock %}
